<div class="side-cart_body">
  <div class="side-cart-header">
    <h3>Producto</h3>
    <h3>Detalles</h3>
    <h3>Precio</h3>
  </div>
  {% for item in cart.items %}
    <article class="side-section">
      <div class="side-cart_product">
        
        <img 
          src="{{item.image | img_url: "100x"}}" 
          srcset="{{ item.image | img_url: "100x"}} 1x {{item.image | image_url: "100x", scale: 2}} 2x"
          alt="{{item.image.alt}}"
          width="100"
          height="100"
        >
      </div>
      <div class="side-cart_description">
        <span class="side-cart_title">{{ item.title}}</span>
        <div class="description-text">{{item.description}}</div>
        <div>{{item.variant_title}}</div>
      </div>
      
      <div class="side-cart_option">
        <span>{{ item.price | money }}</span>
        <div class="side-cart_buttom" data-id="{{item.variant.id}}">
          <button 
          type="button" 
          name="bntAdd" 
          class="cart-decrease js-decrease" 
          >
          -
        </button>

        <div>{{ item.quantity }}</div> 

        <button 
          type="button" 
          name="bntAdd" 
          class="cart-increase js-increase"  
          >
          +
        </button>
        </div>
        
      </div>
      <button 
          type="button" 
          name="bntClear"
          data-id="{{item.variant.id}}" 
          class="cart-clear js-clear"  
          >
          Delete
        </button>
    </article>
    {% endfor %}
</div>